<h1>List of Customers:</h1>
<ul>
<% @customers.each do |customer| %>
    <a href="/customers/<%= customer.id %>">
        <li> <%= customer.name %> </li>
    </a>
<% end %>
</ul>

<form action="/customers/new" method="post">
<input type="submit" value="Create a new customer">