<h2>Update Item</h2>

<form action="/items/<%= @item.id %>" method="post">
<h4>Edit the Item's Name:</h4>
<input type="hidden" name="_method" value="patch">
    <input type="text" name="item[name]" value="<%= @item.name %>">
<h4>Edit the Item's Price:</h4>
    <input type="number" step="0.01" name="item[price]" value="<%= @item.price %>">
<br>
<br>
<input type="submit" value="Update Item">
 </form>